body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.box{
  width:400px;
  height:420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  border-radius: 24px;
}
.box h1{
  color: white;
  text-align:center;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  align: left;
  border: 2px solid #3498db;
  padding: 9px 15px;
  outline: none;
  color: #1abc9c;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size:20px;
}
.box input[type = "button"]:hover{
  background: #3498db;
}
.box input[type = "text"]{
  background: none;
  border: 2px solid #3498db;
  width: 190px;
  height:40px;
  color: #1abc9c;
  position:absolute;
  top:80px;
  left:70px;
  border-radius:24px;
  font-size:25px;



}
